{{yield}}
<AuMainHeader
  @brandLink='https://www.vlaanderen.be/nl'
  @homeRoute='index'
  @appTitle='Lynx'
>
  {{! <AuButton style='margin-right: 0;' @icon='sitemap' @iconAlignment='left'>

  </AuButton> }}
  <div class='diagonal-box'>
    <LinkTo @route='dashboard' style='text-decoration:none;'>
      <p class='au-u-h5' style='font-weight: 500; color:black;'>
        BEKIJK DE KAART
      </p>
    </LinkTo>
  </div>
</AuMainHeader>
