<AuModal @modalOpen={{this.openModal}} @closeModal={{this.closeModal}}>
  <:title>
    <AuBrand />
  </:title>
  <:body>
    <div
      style='display: flex; flex-direction:column; width:100%; height:100%; justify-content:center; align-items:center;'
    >
      {{! <section
        style='display: flex; flex-direction:column; width:100%; height:100%; justify-content:center; align-items:center;'
      > }}
      {{! <img src='assets/logo.svg' /> }}
      {{! </section> }}
      <section
        style='display: flex; flex-direction:column; width:100%; height:100%; justify-content:center; align-items:center;'
      >
        <h1 class='au-u-h4'>Krijg notificaties wanneer jouw gemeente een nieuwe
          beslissing maakt.</h1>
        <p class='au-u-para au-u-muted'>Via mail of notificaties!</p>
        <AuInput @placeholder='email' />
        <AuButton>Abonneer</AuButton>
      </section>
    </div>
  </:body>
</AuModal>
