<AuToaster @position='top' />
<section
  class='au-o-region-large au-u-background-gray-200'
  style='margin: 0;display:flex; justify-content: center; flex-direction:column; align-items:center; height: 100%;'
>
  <p>Abboneer aan [insert naam van belastingscategorie] in {{this.model}}</p>
  <div style='display: flex; flex-direction:column;'>
    Geef uw emailadres in:
    <AuInput @placeholder='Email' />
    of log in met itsme:
    <AuButton>Aanmelden</AuButton>

    <AuButton onclick={{action 'clickButton'}}>Abonneer</AuButton>
  </div>
  {{outlet}}
</section>
